.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .start {
  color: $primary-text;
}
.nav .list {
  display: flex;

  // margin-right: auto;
  // margin-left: 234px;
}
.nav .item {
  font-weight: 600;
  font-size: 16;
  line-height: 1.125;
  padding: 31px 0;
}
.nav .item:not(:last-child) {
  @media screen and (min-width: 1023px) {
    margin-right: 52px;
  }
}

.header-button {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.125;
  width: 160px;
  height: 40px;
  cursor: pointer;
  transition: scale 250ms linear;
  &:active {
    scale: 0.8;
  }

  border: 1px solid $primary-text;
  border-radius: 16px;
  color: $primary-text;
  background: transparent;
  padding: 10px 33px;
  @media screen and (max-width: 1023px) {
    display: none;
  }
  // @media screen and(min-width: 1023px) {
  //   margin-left: 118px;
  // }
  // @media screen and(max-width: 1022px) {
  //   margin-left: 208px;
  // }
  // &.js-open-menu{
  //   color :#F3F3F3;

  // }
}
.header__button {
  color: #f3f3f3;
  z-index: 2;
  background: transparent;
  border: none;
  @media screen and (min-width: 1023px) {
    display: none;
  }
}
.header__icon {
  @media screen and(min-width: 1023px) {
    display: none;
  }
}
.header__nav {
  @media screen and(max-width: 1022px) {
    display: none;
  }
  display: flex;
  align-items: center;
}
.nav__mobile {
  position: ralative;
  @media screen and (max-width: 1023px) {
    display: flex;
    justify-content: space-between;
  }
}
// .header__icon-menu {
//
// }

.js-menu-container {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-background;
  transform: translateX(-100%);
  transition: transform 250ms linear;
}
.js-menu-container.is-open {
  transform: translateX(0);
}
.header__icon-menu,
.header__icon-close {
  z-index: 2;
  fill: currentColor;
  border: transparent;
  display: none;
  &.is-open {
    display: block;
  }
}
.header__mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 94px;
}
.header__mobile-menu .item {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 28px;
  padding: 0;
}
.header__mobile-menu .item:last-child {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 12px;
}
.header__mobile-button {
  font-weight: 800;
  font-size: 16px;
  line-height: 1.125;
  width: 161px;
  height: 40px;
  border: 1px solid $primary-text;
  border-radius: 16px;
  color: $primary-text;
  background: transparent;
  padding: 10px 33px;
}
