.hero2 {
  @media screen and (min-width: 1023px) {
    position: relative;
    display: flex;
    padding: 52px 0;
    padding: 72px 0;
  }
}
.hero {
  background-color: var(--background-color);

  margin: 0 auto;
  background-image: linear-gradient(
    228.52deg,
    rgba(111, 102, 102, 0.9) 4.71%,
    rgba(16, 15, 15, 0.9) 39.77%,
    rgba(16, 15, 15, 0.9) 44.21%
  );
  padding-bottom: 71px;
}
.hero .left {
  position: relative;
  margin-right: auto;
}
.hero .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.233;
  border-left: 1px solid var(--primary-text);
  padding-left: 8px;
  margin-top: 52px;
  margin-bottom: 16px;
  @media screen and (min-width: 1023px) {
    font-size: 64px;
    line-height: 1.22;
    padding-left: 12px;
    margin-top: 28px;
    margin-bottom: 24px;
  }
}
.hero .promo {

  position: relative;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 228px;

  @media screen and (min-width: 1023px) {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 48px;
  }
}
.hero .promo-extra {
  font-weight: 900;
  color: rgba(188, 26, 26, 0.71);
}
.promo-img {
  fill: #f3f3f3;
  position: absolute;
  left: 0;
  top: 0px;
  @media screen and (min-width: 1023px) {
    display: none;
  }
}
.promo-img2 {
  position: absolute;
  top: 0px;
  right: 0;
  @media screen and (min-width: 1023px) {
    display: none;
  }
}
.hero .button {
  padding: 21px 148px;
  background-color: rgba(188, 26, 26, 0.2);
  color: var(--primary-text);
  border: none;
  border-radius: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20;
  line-height: 1.2;
  @media screen and (min-width: 1023px) {
    padding: 20px 84px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.233;
    margin-bottom: 48px;
  }
}
.hero .count {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.219;
  text-transform: capitalize;
}
.hero .info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px;
}
.hero .info:first-child {
  border-right: 1px solid var(--primary-text);
}
.hero .count2 {
  padding-left: 12px;
}
.middle {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.middle .item {
  font-weight: 400;
  font-size: 16;
  line-height: 1.25;
  text-transform: uppercase;
}
.middle .item:nth-child(1) {
  margin-left: 31px;
  margin-bottom: 143px;
}
.middle .item:nth-child(2) {
  margin-left: 18px;
  margin-bottom: 181px;
}
.middle .item:nth-child(3) {
  margin-bottom: 165px;
}
.middle .item:nth-child(4) {
  margin-left: 21px;
}
.hero .image {
  position: absolute;
  right: 71px;
  top: 72px;
}
.hero .right {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  @media screen and (min-width: 1023px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 503px;
  }
}
.hero .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (min-width: 1023px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.social-icons .item {
  fill: white;
  color: white;
  display: block;
}
.social-icons .item:not(:last-child) {
  margin-right: 20px;
  @media screen and (min-width: 1023px) {
    margin-bottom: 35px;
    margin-right: 0;
  }
}
.hero .fill {
  fill: white;
  outline: 1px solid red;
}
// .hero__button {

// }
